header{
  padding: clamp(10px, 1.5385vw, 20px) 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 80;
}

.header{
  padding: clamp(12px, 1.1538vw, 15px) clamp(14px, 1.5385vw, 20px);
  border-radius: 10px;
  background-color: rgba(var(--bg-e),1.0);
  position: relative;
  z-index: 30;
  display: grid;
  grid-template-columns: repeat(2, auto) 1fr auto;
  align-items: center;
  grid-gap: clamp(14px, 1.5385vw, 20px);

  .logo{
    padding-left: clamp(35px, 3.8462vw, 50px);

    @include tablet{
      padding: 0;
    }
  }

  &__box{
   display: flex;
   align-items: center;
   grid-gap: clamp(12px, 1.5385vw, 20px);

   @include tablet{
    justify-self: end;
   }
  }

  @include tablet{
    grid-template-columns: auto 1fr auto;
    .main-nav{
      display: none;
    }

    .burger{
      order: 3;
    }
  }

  @include mobile{
    width: calc(100% + 20px);
    margin-left: -10px;
  }
}



