.header-menu{
    position: absolute;
    bottom: -13px;
    left: var(--container-offset);
    z-index: 90;
    transform: translateY(50%) scale(0);
    transition: all 0.4s ease-out;
    width: calc(100% - (var(--container-offset) * 2));
    border: 1px solid #ffcd07;
    border-radius: 9px;
    background: #272727;
    overflow-y: auto;
    padding: 30px 28px 34px 36px;

    @include mobile{
        left: 6px;
        width: calc(100% - (var(--container-offset) * 2) + 20px);
    }
    
   &__box{
        grid-gap: 15px;
        display: grid;
        grid-template-columns: .74fr 1fr;
        height: 100%;

        @include tablet{
            grid-template-columns: .4fr 1fr;
        }

        @include small-tablet{
            grid-template-columns: 1fr;

            .main-form{
                display: none;
            }
        }
   } 

   &__inner{
    display: flex;
    flex-direction: column;
    grid-gap: clamp(15px, 1.7692vw, 23px);

    @include mobile{
        width: 100%;
        align-items: center;
    }
   }

   &__wrapp{
    display: flex;
    flex-direction: column;
    grid-gap: clamp(16px, 1.8462vw, 24px);

    .tel-link{
        font-size: clamp(18px, 1.6923vw, 22px);
    }

    .main-button{
        width: fit-content;
        padding: 15px 40px;

        @include mobile{
            max-width: 300px;
            width: 100%;
        }
    }

    @include mobile{
        width: 100%;
        align-items: center;
    }
   }
  
   .main-nav{
    flex-direction: column;
    margin-bottom: 3px;
    align-items: flex-start;

    @include mobile{
        align-items: center;
    }
   }
   
    &.active {
        transform: translateY(100%) scale(1);
    }
}