.info-section{
    margin-bottom: clamp(48px, 8.3333vw, 160px);
    border-top: 4px solid var(--br-f);
    border-bottom: 4px solid var(--br-f);
    background: var(--gr-f);
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.70);
    padding: clamp(32px, 5.2083vw, 100px) 0;

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
    }
}