.offers-section{
    padding-bottom: clamp(50px, 9.2308vw, 120px);
    overflow: hidden;
    
    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(23px, 4.6154vw, 60px);
    }

    .offers-list{
        margin-bottom: clamp(27px, 4.6154vw, 60px);
    }
}