<footer>
  <div class="container">
    <div class="footer">
      <div class="footer__deskr">
        <p>Disclaimer: This site is designed to provide a fun and visually pleasing crypto gaming experience on the
          blockchain.</p>
          <p>The game logic is comprised of open-source, self-executing smart contracts hosted on various permissionless
            public blockchains, such as Ethereum. We do not have direct control over, or assume responsibility for, any
            blockchain networks or the execution of their smart contracts.
          </p>
          <p> By using this frontend site, users accept the decentralized nature of blockchains. Users are solely
            responsible for managing their self-custodial wallets when interacting with blockchains. They also bear the
            responsibility to review and interact with the smart contract using platforms like Etherscan or any other
            blockchain explorer.</p>
          <p> Please be careful and fully understand the risks involved before interacting with the smart contract. We value
            your trust and are committed to being transparent and clear.</p>
      </div>
    </div>
  </div>
</footer>