<header>
  <div class="container">   
      <div class="header">  
        <button class="burger">
          <span class="burger__bg"></span>
          <span class="burger__line"></span>
        </button>
    
        <ul class="main-nav">
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">Services</a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">Commercial appliance</a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">Appliance</a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">Blog</a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">Contacts</a>
          </li>
        </ul>
      
        <a href="index.html" class="logo">
          IFIX
        </a> 
        <div class="header__box">
        <a href="tel:(980)-987–70-83" class="tel-link">(980) 987 – 7083</a>
        <button class="main-button main-button--mode">Book a Call</button>
      </div>
      </div>

    <div class="mobile-menu">
      <div class="mobile-menu__box">
        <ul class="header-nav">
          <li class="header-nav__item">
            <a href="index.html" class="header-nav__link">
              <i>
                <svg width='18' height='18'>
                  <use href='img/sprite/sprite.svg#home'></use>
                </svg>
              </i>
            Home</a>
          </li>
          <li class="header-nav__item">
            <a href="rules.html" class="header-nav__link">
              <i>
                <svg width='16' height='16'>
                  <use href='img/sprite/sprite.svg#book'></use>
                </svg>
              </i>
              About & Rules</a>
          </li>
          <li class="header-nav__item">
            <a href="referral.html" class="header-nav__link">
              <i>
                <svg width='18' height='18'>
                  <use href='img/sprite/sprite.svg#group'></use>
                </svg>
              </i>
              Referral Program</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>