.rewiews-slider{
    height: 100%;
     width: 100%;

    &__wrapper{
        @include for-small-tablet{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 445px 50px;
        }
    }

    &__slide{
       @include for-small-tablet{
            width: 100%;
            position: relative;
            display: grid;
       }
       @include small-tablet{
       max-width: 331px;
       }
    }
}