// --------------- hex to rgba mixin ---------------
@function HexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}
:root {
// --------------- default global variable ---------------
  --body-bg: #fff;
  --body-font-size: 16px;
  --content-width: 1300px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  @include small-tablet{
    --container-offset: 16px;
  }

// --------------- default js variable ---------------
  --header-height: 121px;

  @include tablet{
    --header-height: 96px;
  }

  @include small-tablet{
    --header-height: 84px;
  }

  @include mobile{
    --header-height: 81px;
  }

// --------------- default scroll variable ---------------
  --scrollbar-thumb: #0C093D;
  --scrollbar-track:  #01001D;
  --scrollbar-track-hover: #01001D;
  --overlay-bg: rgba(0, 0, 0, 0.5);

// --------------- default font-family variable ---------------
  --font-family: "Inter" , sans-serif; // var(--font-family);
  --font-family2: "Golos" , sans-serif; // var(--font-family2);

// --------------- default text color variable ---------------
  --cl-a: #{HexToRGB(#ffffff)}; // rgba(var(--cl-a),1.0);
  --cl-b: #{HexToRGB(#000000)}; // rgba(var(--cl-b),1.0);
  --cl-c: #{HexToRGB(#FFCD07)}; // rgba(var(--cl-c),1.0);
  --cl-d: #{HexToRGB(#a7a7a7)}; // rgba(var(--cl-d),1.0);
  --cl-e: #{HexToRGB(#757575)}; // rgba(var(--cl-e),1.0);


  --cl-f: #{HexToRGB(#6A6B8A)}; // rgba(var(--cl-f),1.0);
  --cl-g: #{HexToRGB(#FFA700)}; // rgba(var(--cl-g),1.0);
  --cl-h: #{HexToRGB(#B1C1F4)}; // rgba(var(--cl-h),1.0);
  --cl-i: #{HexToRGB(#FFA700)}; // rgba(var(--cl-i),1.0);
  --cl-j: #{HexToRGB(#C2C3C5)}; // rgba(var(--cl-j),1.0);
// --------------- default background color variable ---------------
  --bg-a: #{HexToRGB(#ffffff)}; // rgba(var(--bg-a),1.0);
  --bg-b: #{HexToRGB(#000000)}; // rgba(var(--bg-b),1.0);
  --bg-c: #{HexToRGB(#ffcd07)}; // rgba(var(--bg-c),1.0);
  --bg-d: #{HexToRGB(#ef5040)}; // rgba(var(--bg-d),1.0);
  --bg-e: #{HexToRGB(#272727)}; // rgba(var(--bg-e),1.0);
  --bg-f: #{HexToRGB(#12d03c)}; // rgba(var(--bg-f),1.0);
  --bg-g: #{HexToRGB(#F5F5F5)}; // rgba(var(--bg-g),1.0);
  --bg-h: #{HexToRGB(#202020)}; // rgba(var(--bg-h),1.0);
  --bg-i: #{HexToRGB(#48c733)}; // rgba(var(--bg-i),1.0);
  --bg-j: #{HexToRGB(#c1da6a)}; // rgba(var(--bg-j),1.0);

// --------------- default border color variable ---------------
  --br-a: #000000; // var(--br-a);
  --br-b: #ffcd07; // var(--br-b);


  --br-c: #ffffff; // var(--br-c);
  --br-d: #229EDB; // var(--br-d);
  --br-e: #28265C; // var(--br-e);
  --br-f: #09073E; // var(--br-f);
  --br-g: #FFC000; // var(--br-g);
  --br-h: #01010F; // var(--br-h);
  --br-i: #060A29; // var(--br-i);
  --br-j: #64E3FF; // var(--br-j);
  --br-k: #0D1450; // var(--br-k);
  --br-l: #000000; // var(--br-l);
// -------------

// --------------- default gradient variable ---------------
--gr-a: linear-gradient(265deg, #FFC000 0%, #FF8B00 74.16%); // var(--gr-a);
--gr-b: linear-gradient(90deg, rgba(6, 4, 51, 0.00) 0.27%, rgba(10, 7, 72, 0.80) 52%, rgba(6, 4, 51, 0.00) 100%); // var(--gr-b);
--gr-c: linear-gradient(0deg, #01001D 0%, rgba(1, 0, 29, 0.00) 100%); // var(--gr-c);
--gr-d: linear-gradient(180deg, #01001D 62.5%, rgba(1, 0, 29, 0.00) 100%); // var(--gr-d);
--gr-e: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.00) 100%); // var(--gr-e);
--gr-f: linear-gradient(90deg, rgba(6, 4, 51, 0.00) 1%, #060433 51.43%, rgba(6, 4, 51, 0.00) 100%); // var(--gr-f);
--gr-g: linear-gradient(180deg, #0D1450 0%, #172178 100%); // var(--gr-g);
--gr-h: linear-gradient(90deg, rgba(6, 4, 51, 0.00) 1%, #060433 51.43%, rgba(6, 4, 51, 0.00) 100%); // var(--gr-h);

}


